body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;

}
header{
    background-color: blueviolet;
    padding: 0.3%;
}
.header{
    color: white;
}
h1{
    text-align: center;
    color: #002D72;
}
h3{
    background-color: blueviolet;
    color: white;
    padding: 1%;
    margin-top: 0;
}
#contract, #hypoallergenic, #premature, #specialized, #calorie, #modular {
    margin-left: 21%;    
    text-align: center;
    height: 100%;
}
img{
    height: auto;
    width: 35%;
}
.contract, .hypoallergenic, .premature, .specialized, .calorie, .modular{
    display: block;
    background-color: whitesmoke;
    border: 1px solid;
}
.elecare-jr, .neocate-infant{
    width: 25%;
    height: 25%;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}


/* side navbar css*/ 
.sidenav {
    height: auto;
    width: 20%;
    position: fixed;
    z-index: 1;
    background-color: #1D428A;
    overflow-x: hidden;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    background-color: #211b7e;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #1D428A;
    color: white;
  }
  
  /* Dropdown container Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none; /* hidden by default*/
    background-color: blueviolet;
    padding-left: 8px;
  }